body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    
    display: flex;
    flex-flow: column nowrap;

}
.header {
    background-color: #372b2b;
    color: #fff;
    
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-area: header;
}
.nav {
    background-color: #3b3549;
    color: #fff;

    position: fixed;
    top: 5vh;
    width: 100vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: nav;
}
.main {
    
    background-color: gray;
    color: antiquewhite;
    border: 1px solid rgb(255, 0, 0);
  
    position: fixed;
    top: 10vh;
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2vh;   
    
    grid-area: main;
    overflow-y: auto;
    
}
.main .h3 {
    background-color: sandybrown;
}
.main .section {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    
    width: 70vw;
    min-height: 30vh;
}
.main .section .h4 {
    background-color: royalblue;
    color: black;
}
.main .section .div {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid white;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    align-items: center;
    
    width: 90%;
    min-height: 60%;
}
.main .section .div .article {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid white;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    width: 40%;
    min-height: 50%;
}
.aside {
    background-color: #0000003a;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;


    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: aside;
}
.footer {
    background-color: #00000017;
    color: #fff;
    
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
   grid-area: footer;
}